.o-color-bg{
	background: rgb(1,141,206);
    background: linear-gradient(180deg, rgba(1,141,206,1) 0%, rgba(17,56,94,1) 100%);
    width:100vw;
    height:100vh;
    display:flex;
    align-items:center;
    .o-login-block{
       background:#EEF9FF;
       padding:45px 60px;
       border-radius:10px;
    }
    .image-block{
      img{
        max-width:83%;
        margin-bottom:10px;
      }
    }
    .text-block{
        p{
          font-style:italic;
          color:#0C4468;
          font-size:16px;
        }
    }

    .o-login-area{
    	.o-logo-block{
    	  margin-bottom:35px;
    	  img{
    	    max-width:200px;
    	  }
    	}
    	.o-head-block{
    	  h1{
    	    font-size:44px;
    	    line-height:1em;
    	    color:#0C4468;
    	    margin-bottom:30px;
    	    span{
    	      font-weight:200;
    	      display:block;
    	      font-size:27px;
    	      color: $body-font-color;
    	    }
    	  }
    	}
    	.o-small-heading{
    	   position:relative;
    	   margin:30px auto;
    	   span{
    	     padding: 5px 20px;
		     background: #EEF9FF;
		     z-index: 999;
		     position: relative;
		     color:#1A2B36;
    	   }
    	   &:after{
    	     width:100%;
    	     height:2px;
    	     background:#98D3EF;
    	     position:absolute;
    	     content:'';
    	     top:50%;
    	     margin-top:-1px;
    	     left:0;
    	   }
    	}

    	.social-button{
    	   display: inline-block;
	       padding: 20px 35px;
	       margin: 0px 5px;
	       border: solid 1px #72ABC9;
	       background: #fff;
	       border-radius: 100px;
	       text-align: center;
	       img{
	         max-width:85%;
	         margin:0 auto;
	       }
    	}


        .o-form-block{
           min-height:380px;
           .otp-area{
            span.head{
              color:#0C4468;
              font-weight:600;
              display: inline-block;
              margin-top: 15px;
              width:100%;
            }
             .row{
                flex-direction:row;
                justify-content:space-between;
                height:100%;
                .otp-field-area{
                   max-width:80%;
                   margin:0 auto;
                   display:flex;
                   .form-control{
                     width:56px;
                     height:65px;
                     margin:0px 5px;
                     font-size:17px;
                   }
                }
             }
           }
        }

    }
}