<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <meta name="description" content="">
    <title>Login</title>
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">

    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/assets/css/style.css" rel="stylesheet">
</head>
<body>

<!-- page-content -->
<div class="o-color-bg">
    <div class="container">
      <div class="row">
          <div class="col-lg-12">

            <div class="o-login-block"> 
               <div class="row">
                  <div class="col-lg-7 text-center">
                     <div class="image-block">
                        <img src="/assets/images/login-img.svg" alt="">
                     </div>
                     <div class="text-block">
                       <p>A dedicated portal for the promising candidates</p>
                     </div>
                  </div>
                  <div class="col-lg-5">
                     <div class="o-login-area">
                        <div class="o-logo-block text-center">
                           <img src="/assets/images/login-logo.svg" alt="">
                        </div>
                        <div class="o-head-block text-center">
                          <h1>Get Reemployed<span>Login or Create an Account</span></h1>
                        </div>
                        <div class="o-form-block">
                          <form action="/login" method="POST" onsubmit="submitForm(event)">
                             <div class="mb-4">
                                  <label class="form-label w-100" for="username">Username</label>
                                  <input type="text" class="form-control" id="id" name="id" placeholder="Enter your username">
                                </div>
                                <div class="mb-4">
                                  <label class="form-label w-100" for="password">Password</label>
                                  <input type="password" class="form-control" id="password" name="password" placeholder="Enter your password">
                                </div>
                                <div class="col-lg-12 text-center">
                                  <button type="submit" class="btn btn-primary">Login</button>
                                </div>
                          </form>

                          <div class="row">
                            <div class="col-lg-12">
                               <div class="o-small-heading text-center"><span>Continue with</span></div>
                            </div>
                            <div class="col-lg-12 d-flex justify-content-center">
                               <a href="#" class="social-button google"><img src="/assets/images/google-icon.svg" alt=""></a>
                               <a href="#" class="social-button facebook"><img src="/assets/images/facebook-icon.svg" alt=""></a>
                            </div>
                          </div>    
                        </div>
                     </div>
                  </div>
               </div>
            </div>
          </div>
      </div> 
    </div>
</div>
<!-- page-wrapper -->

<script type="text/javascript" src="/assets/js/jquery.min.js"></script>
<script type="text/javascript" src="/assets/js/popper.min.js"></script>
<script type="text/javascript" src="/assets/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/assets/js/main.js"></script>

<script>
  function submitForm(event) {
    event.preventDefault(); // Prevent form submission
    var form = event.target;
    // You can perform any additional logic here before submitting the form
    form.submit(); // Manually submit the form
  }
</script>

</body>
</html>
