.o-button{
    display:inline-block;
    color:$white;
    background:$default-primary-color;
    text-decoration:none;
    font-size:13px;
    line-height:1em;
    font-weight: 500;
    white-space: nowrap;
    padding:10px 28px 9px;
    transition: all ease-in-out 0.3s;
    border-radius: $border-radius-round;
    text-transform: uppercase;
    &:hover{
      color:$white;; 
      background:#4B4B4D;
      transition: all ease-in-out 0.3s;
    }
}
.btn{
    display:inline-block;
    color:$default-secondary-color;
    background:$white;
    text-decoration:none;
    font-size:13px;
    line-height:1em;
    font-weight: 600;
    white-space: nowrap;
    padding:12px 30px 10px;
    transition: all ease-in-out 0.3s;
    border-radius: $border-radius-round;
    text-transform: uppercase;
    border:solid 1px $default-secondary-color;
    &:hover{
      color:$white;
      background:$default-secondary-color;
      border:solid 1px $default-secondary-color;
      transition: all ease-in-out 0.3s;
    } 

    &.colored{
       background:$default-secondary-color;
       color:$white; 
       &:hover{
          color:$default-secondary-color;
          background:$white; 
          border:solid 1px $default-secondary-color;
          transition: all ease-in-out 0.3s;
       } 
    } 
    &.large{
      padding:16px 40px 14px;
      font-size:15px;
    }
}

