footer{
	background:#054978;
	padding:70px 0px 50px;
	.o-footer-top-area{
	   .image-area{
	     text-align:right;
	     img{
	        max-width:100%;
	     }
	   }
	   h2{
	     margin-bottom:20px;
	     color:#fff;
	     font-weight:700;
	     font-size:36px;
	   }
	   p{
	     color:#fff;
	     font-weight:300;
	     width:90%;
	     font-size:12px;
	   }
	   .o-contat-info-area{
	     margin-top:50px;
	     margin-right:50px;
	     display:flex;
	     border-top:solid 1px #3B6B8B;
	     border-bottom:solid 1px #3B6B8B;
	     padding:10px 0px;
	     color:#8DADC2;
	     .o-email-area{
	        display:flex;
	        align-items:center;
	        img{
	          width:18px;
	          margin-right:8px;
	        }
	        a{
	           color:#17B077;
	           text-decoration:none;
	           font-size:12px;
	           transition: all ease-in-out 0.3s;
	           &:hover{
	              color:#fff;
	              text-decoration:none;
	              transition: all ease-in-out 0.3s;
	           }
	        }
	     }

	     .o-social-links{
	        display:flex;
	        align-items:center;
	        margin-left:100px;
	        font{
	          color:#8DADC2;
	          font-size:12px;
	        }
	        ul{
	          li{
	            display:inline-block;
	            margin-right:10px;
	            a{
	              color:#17B077;
	            }
	          }
	        }
	     }

	   }
	}



	.o-footer-bottom-area{
	   padding-top:20px;
	  .o-f-logo-area{
	     margin-bottom:10px;
	     img{
	       max-width:150px;
	       margin-top:10px;
	     }
	  }
	  ul{
		    &.footer-links{
		      li{
		         display:inline-block;
		         padding:0px 10px 0px 10px;
		         position:relative;
		         line-height:14px;
		         font-size:12px;
		         &:after{
		            width:1px;
		            height:100%;
		            position:absolute;
		            content:"";
		            background:#17B077;
		            right:0;
		         }
		         &:first-child{
		           padding:0px 10px 0px 0px;
		         }
		         &:last-child{
		            &:after{
			            display:none;
			         }
		         }
		         a{
	                color:#17B077;
	                line-height:14px;
	                text-decoration:none;
	             }
		      }
		    }
	  }
	  .text-right{
		    text-align:right;
		    color:#8DADC2;
		    font-size:12px;
	  }
	}

}